<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>loafer</title>
    <style type="text/css">

    </style>
</head>

<body>

<script src="../../js/jquery-2.1.1.js"></script>
<script src="../../js/index.js"></script>
<script type="text/javascript">

    window.onload = function(){

        // test1();
        // test2();
        test3();
        // test4();

    };

    function test1(){
        for (var i = 0; i < 5; i++) {
            var btn = document.createElement('button');
            btn.appendChild(document.createTextNode('Button ' + i));
            btn.addEventListener('click', function(){ console.log(i); });
            document.body.appendChild(btn);
        }
    }

    function test2(){
        for (var i = 0; i < 5; i++) {
            var btn = document.createElement('button');
            btn.appendChild(document.createTextNode('Button ' + i));
            btn.addEventListener('click', (function(i) {
                return function() { console.log(i); };
            })(i));
            document.body.appendChild(btn);
        }
    }

    function test3(){
        ['a', 'b', 'c', 'd', 'e'].forEach(function (value, i) {
            var btn = document.createElement('button');
            btn.appendChild(document.createTextNode('Button ' + i));
            btn.addEventListener('click', function() { console.log(i); });
            document.body.appendChild(btn);
        });
    }






</script>

</body>
</html>
