<html lang="en">
<head>
<meta charset="utf-8">
<title>超绚丽的HTML5地图分布动画DEMO演示</title>
</head>

<body style="background:#1B1B1B">

	<!--Step:1 为ECharts准备一个具备大小（宽高）的Dom-->
	<div id="mainMap" style="height:800px;width:100%;padding:10px;background:#1B1B1B"></div>

	<!--Step:2 引入echarts.js-->
	<script src="../../js/common.js"></script>
	<script src="js/echarts.js" charset="UTF-8"></script>
	<script src="js/liuan.js"></script>

<script type="text/javascript">

    $('#document').ready(function(){
        getEcharts();
    });

    function getEcharts(){
        // Step:3 为模块加载器配置echarts的路径，从当前页面链接到echarts.js，定义所需图表路径
        require.config({
            paths: {
                echarts: './js'
            }
        });

        // Step:4 动态加载echarts然后在回调函数中开始使用，注意保持按需加载结构定义图表路径
        require(
            [
                'echarts',
                'echarts/chart/map'
            ],
            function (ec) {
                // --- 地图 ---
                var myChart2 = ec.init(document.getElementById('mainMap'));
                myChart2.setOption({
                    dataRange: {    //值域控件
                        min : 0,
                        max : 100,
                        calculable : true,
                        color: ['#ff3333', 'orange', 'yellow','lime','aqua'],
                        textStyle:{
                            color:'#fff'
                        }
                    },
                    geo: {
                        map: '六安',
                        label: {
                            emphasis: {
                                show: true
                            }
                        },
                        //是否可以点击鼠标、滚轮缩放
                        roam: true,
                    },
                    series : [
                        {
                            name: '全国',
                            type: 'map',
                            roam: true,
                            hoverable: false,
                            mapType: 'china',
                            itemStyle:{
                                normal:{
                                    borderColor:'rgba(100,149,237,1)',
                                    borderWidth:0.5,
                                    areaStyle:{
                                        color: '#1b1b1b'
                                    }
                                }
                            },
                            data:[],
                            // markLine : {
                            // 	smooth:true,
                            // 	symbol: ['none', 'circle'],
                            // 	symbolSize : 1,
                            // 	itemStyle : {
                            // 		normal: {
                            // 			color:'#fff',
                            // 			borderWidth:1,
                            // 			borderColor:'rgba(30,144,255,0.5)'
                            // 		}
                            // 	},
                            // 	data : [
                            // 	],
                            // },
                            geoCoord: {		//以下可以根据指定的name属性从这个地方获取到经纬度
                                    '上海': [121.4648,31.2891],
                                    '包头': [110.3467,41.4899],
                                    '北京': [116.4551,40.2539],
                                    '南宁': [108.479,23.1152],
                                    '南昌': [116.0046,28.6633],
                                    '大连': [122.2229,39.4409],
                                    '常州': [119.4543,31.5582],
                                    '广州': [113.5107,23.2196],
                                    '拉萨': [91.1865,30.1465],
                                    '重庆': [107.7539,30.1904],
                                    '长春': [125.8154,44.2584]
                            },
                            markPoint : {
                                symbol:'emptyCircle',
                                symbolSize : function (v){
                                    return 10 + v/10
                                },
                                effect : {
                                    show: true,
                                    shadowBlur : 0
                                },
                                itemStyle:{
                                    normal:{
                                        label:{show:false}
                                    },
                                    emphasis: {
                                        label:{position:'top'}
                                    }
                                },
                                data : [
                                    {name:'上海',value:95},
                                    {name:'广州',value:90},
                                    {name:'大连',value:80},
                                    {name:'南宁',value:70},
                                    {name:'南昌',value:60},
                                    {name:'拉萨',value:50},
                                    {name:'长春',value:40},
                                    {name:'包头',value:30},
                                    {name:'重庆',value:20},
                                    {name:'常州',value:10}
                                ]
                            }
                        },
                        {
                            name: '北京 Top10',
                            type: 'map',
                            mapType: 'china',
                            data:[],
                            markLine : {
                                smooth:true,
                                effect : {
                                    show: true,
                                    scaleSize: 1,
                                    period: 30,
                                    color: '#fff',
                                    shadowBlur: 10
                                },
                                itemStyle : {
                                    normal: {
                                        label:{show:false},
                                        borderWidth:1,
                                        lineStyle: {
                                            type: 'solid',
                                            shadowBlur: 10
                                        }
                                    }
                                },
                                data : [
                                    [{name:'上海'}, {name:'北京',value:95}],
                                    [{name:'广州'}, {name:'北京',value:90}],
                                    [{name:'大连'}, {name:'北京',value:80}],
                                    [{name:'南宁'}, {name:'北京',value:70}],
                                    [{name:'南昌'}, {name:'北京',value:60}],
                                    [{name:'拉萨'}, {name:'北京',value:50}],
                                    [{name:'长春'}, {name:'北京',value:40}],
                                    [{name:'包头'}, {name:'北京',value:30}],
                                    [{name:'重庆'}, {name:'北京',value:20}],
                                    [{name:'常州'}, {name:'北京',value:10}]
                                ]
                            },
                            markPoint : {	//为标记点添加数值
                                symbol:'emptyCircle',
                                symbolSize : function (v){
                                    return 0.1
                                },
                                effect : {
                                    show: false,
                                    shadowBlur : 0
                                },
                                itemStyle:{
                                    normal:{
                                        label:{show:true,
                                              position:'top',
                                              textStyle: {
                                                        fontSize: 14
                                                    }
                                              }
                                    },
                                    emphasis: {
                                        label:{show:false}
                                    }
                                },
                                data : [
                                    {name:'上海',value:95},
                                    {name:'广州',value:90},
                                    {name:'大连',value:80},
                                    {name:'南宁',value:70},
                                    {name:'南昌',value:60},
                                    {name:'拉萨',value:50},
                                    {name:'长春',value:40},
                                    {name:'包头',value:30},
                                    {name:'重庆',value:20},
                                    {name:'常州',value:10}
                                ]
                            }
                        }
                    ]
            });
        });
    }
</script>

<div style="text-align:center;clear:both;margin-top:30px">
</div>
</body>
</html>